services:
  postgres:
    image: postgres:15
    container_name: ww_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ww_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: ww_api
    command: npm run start:dev
    env_file:
      - .env
    ports:
      - "3001:3000"
      - "5555:5555"
    depends_on:
      - postgres

volumes:
  pgdata:
